<div class="d-flex justify-content-start gap-2 py-2 position-relative">
  <div
    class="position-relative image-container"
    [style.height]="'75px'"
    [style.width]="'60px'"
    (click)="displayBookDetails.emit(item())"
  >
    <img
      class="card-img-top image-blur"
      [src]="item().book.imageUrl"
      [alt]="item().book.title + ' - ' + item().book.author"
    />

    <div class="image-overlay d-flex align-items-center justify-content-center text-white">
      <nexus-feather-icon iconName="eye" class="hover-icon"></nexus-feather-icon>
    </div>
  </div>

  <div>
    <h5 class="mb-0">{{ item().book.title }}</h5>
    <small class="text-muted">{{ item().book.author }}</small>
    <div class="fw-bold">
      @if (!item().book.discountPercentage) {
        <span class="fw-bold ms-1">
          {{ item().book.price | currency }}
        </span>
      }

      @if (item().book.discountPercentage) {
        <span class="badge bg-danger px-2 ms-1"> {{ item().book.discountPercentage }} % </span>

        <span class="text-muted text-decoration-line-through ms-1">
          {{ item().book.price | currency }}
        </span>

        <span class="fw-bold text-success ms-1">
          {{ item().book.price * (1 - item().book.discountPercentage! / 100) | currency }}
        </span>
      }
    </div>
  </div>

  <div class="position-absolute end-0 top-0 mt-1">
    <button
      type="button"
      class="btn p-1 px-2 lh-1"
      title="Eliminar del carrito"
      (click)="removeFromCart.emit(item())"
    >
      <nexus-feather-icon iconName="trash-2" [height]="16" [width]="16"> </nexus-feather-icon>
    </button>
  </div>

  <div class="position-absolute end-0 bottom-0 mb-2">
    <div
      class="btn-group btn-group-sm gap-1"
      role="group"
      aria-label="Grupo de botones para aumentar o disminuir cantidad"
    >
      <button
        type="button"
        class="btn btn-secondary lh-1 px-2 py-1"
        title="Disminuir cantidad"
        [class.disabled]="item().quantity <= 1"
        (click)="decreaseQuantity.emit(item())"
      >
        <span class="fs-6 fw-bold">-</span>
      </button>

      <button
        type="button"
        class="btn btn-primary lh-1 px-2 py-1"
        title="Cantidad"
        [style.pointer-events]="'none'"
      >
        <span class="fw-bold">{{ item().quantity }}</span>
      </button>

      <button
        type="button"
        class="btn btn-secondary lh-1 px-2 py-1"
        title="Aumentar cantidad"
        (click)="increaseQuantity.emit(item())"
      >
        <span class="fs-6 fw-bold">+</span>
      </button>
    </div>
  </div>
</div>
